<ActionBar class="action-bar">
  <Label class="action-bar-title" text="Payments"></Label>
</ActionBar>

<ScrollView>
  <StackLayout>
    <Label class="h1 text-center m-y-10" text="Payments"></Label>
    <Image src="~/images/payments.png" stretch="none"></Image>
    <Label class="footnote text-center m-y-10" text="Tim McKee ©2018"></Label>
    <StackLayout orientation="horizontal" horizontalAlignment="center">
      <Button class="btn btn-primary btn-rounded-sm btn-active m-r-20"
        text="Home" [nsRouterLink]="['/home']">
      </Button>
      <Button class="btn btn-primary btn-rounded-sm btn-active m-l-20"
        text="Balance" [nsRouterLink]="['/balance']">
      </Button>
    </StackLayout>
  </StackLayout>
</ScrollView>
